* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
}

.first-section{
    background-color: #1F2937;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
}

.navbar{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.navbar-left, 
.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 150px;
    
}

img {
    margin: 50px;
}

.p-first{
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-first-section{
    background-color: #3882F6;
    color: white;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-container{
display: flex;
text-align: center;
justify-content: center;
}

.second-section-image{
    border-radius: 5px;
    border: 3px solid #3882F6;
}


