* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
}

.first-section{
    background-color: #1F2937;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-right: 460px;
}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 90px;
}

.navbar{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.navbar-left, 
.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 150px;
    
}

img {
    margin: 50px;
}

.p-first{
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-first-section{
    background-color: #3882F6;
    color: white;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-container{
display: flex;
text-align: center;
justify-content: center;
padding-bottom: 50px;
}

.second-section-image{
    border-radius: 5px;
    border: 3px solid #3882F6;
}

.third-section{
    background-color: #E5E7EB;
    padding: 100px;
}

.quote{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    font-size: 36px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-right: 350px;
}

.fourth-section {
    display: flex;
    justify-content: center;
}

.cta-container {
    background-color: #3882F6;
    padding: 20px;
    margin: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    padding: 40px 80px;
    max-width: 800px;
}

.cta-left {
    display: flex;
    flex-direction: column;
}

.cta-right {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.cta-button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: #F9FAF8 solid 2px;
    background-color: #3882F6;
    font-weight: bold;
    color: #F9FAF8;
    
}

.cta-text {
    font-size: 18px;
    color: #F9FAF8;
}

.cta-heading{
    font-size: 24px;
}

.fifth-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #1F2937;
    color: #F9FAF8;
}